<!DOCTYPE html>
<html lang="pt-br">

<%- include('partials/head.ejs') %>

<body>
  <%- include('partials/navbar.ejs') %>

  <h1>Lista de Resumos</h1>

  <ul>
    <% resumos.forEach((resumo) => { %>
      <li>
        <strong>Cliente:</strong> <%= resumo.cliente.nome %><br>
        <strong>Produto:</strong> <%= resumo.produto.nome %> - <%= resumo.produto.marca %> - <%= resumo.produto.cod %> - <%= resumo.produto.idp %><br><br>
      </li>
    <% }) %>
  </ul>

  <%- include('partials/foot.ejs') %>
</body>

</html>